<div class="container-fluid" style="font-weight:bold; min-height: 100vh; background: url(assets/education.png); background-size: 400px 300px;background-position: right bottom; background-repeat: no-repeat;">
    <div class="row  ">
    <div class="col-md-6"> 
        <h1 @listAnimation style="text-align: center;" >MY EDUCATION</h1>
       
              
            <table @tbl class="table">
              <tbody>
                <tr>
                  <td>
                      <p>Batch of 2016/2017</p>
                      <p style="color: rgb(250, 60, 60);font-weight: bolder;">Bachelors Degree</p>
                    </td>
                  <td>
                      <p>Eastern University</p>
                      <p>I am currently following a degree in Computer Science at Eastern University, Trincomalee Campus.</p>
                  </td>
                  
                </tr>
                <tr>
                  <td>
                    <p>Batch of 2016</p>
                    <p style="color:rgb(250, 60, 60);font-weight: bolder;">G.C.E A/L</p></td>
                  <td>I passed my G.C.E Advance Level form Mathematics stream in year 2016</td>

                  
                </tr>
                <tr>
                  <td>
                    <p>Batch of 2013</p>
                    <p style="color: rgb(250, 60, 60);font-weight: bolder;">G.C.E O/L</p>
                  </td>
                  <td>I passed my  G.C.E Ordinary Level Examination in year 2013</td>
                  
                </tr>
              </tbody>
            </table>
          
    </div>





    <div class="col-md-6">
        
            <h1 @listAnimation style="text-align: center;" >MY ACHIEVEMENTS</h1>
       
                 
            <table @tbl @fade class="table">
              <tbody>
                <tr>
                  <td>
                      <p style="color: rgb(253, 83, 61); font-weight: bolder;">Hack:bit 2020</p>
                      <p>2020 November</p>
                    </td>
                  <td>
                      <p>A member of the team "EDITH"</p>
                      <p style="color: rgb(233, 76, 55); font-weight: bolder;">(Winner)</p>
                  </td>
                  
                </tr>
                <tr>
                  <td>
                      <p style="color: rgb(35, 228, 186); font-weight: bolder;">ACES CODERS v8.0</p>
                      <p>2020 March</p>
                    </td>
                  <td>
                      <p>A member of the team "EDITH"</p>
                      <p style="color: rgb(233, 76, 55); font-weight: bolder;">(Top 50)</p>
                  </td>
                  
                </tr>
                <tr>
                  <td>
                      <p style="color: mediumvioletred; font-weight: bolder;">SHECODERess V3.0</p>
                      <p>2019 November</p>
                    </td>
                  <td>
                      <p>A member of the team "Bellas"</p>
                        <p style="color: rgb(233, 76, 55); font-weight: bolder;">(Popular Team Award)</p>
                  </td>
                  
                </tr>
                <tr>
                  <td>
                    <p style="color:rgb(8, 179, 93) ;font-weight: bolder;" >Intra University Android Hackothon</p>
                    <p>2019 December</p></td>
                  <td>
                    <p>A member of the team "CODE RED"</p>
                      <p style="color: rgb(233, 76, 55); font-weight: bolder;">(1 st Runner-Up)</p>
                    </td>
                  
                </tr>
                <tr>
                    <td>
                      <p style="color: rgb(29, 123, 218); font-weight: bolder;">Design workshop</p>
                      <p>2020</p></td>
                    <td>participated to the Creative Eye-2020 Design workshop organized by the IEEE WIE tudent branch Affinity Group of UCSC</td>
                    
                  </tr>
               
              </tbody>
            </table>
         
            
            
      
    </div>


</div>
