<div class="card-deck">
   
    <div @listAnimation  class="col-lg-4 col-md-6 col-sm-12 " style="padding-bottom: 20px;">
        <div class="card hovereffect">
            
            
                <img class="card-img"  src="assets/petapp.png" alt="">
                <span class="badge bg-success">Android Development</span>
                <div class="overlay">
                    <h2>Pet Adoption App</h2>
                    <p style="color: white;font-size: 15px;">This is an android app. Here you can add your pet's details and find a great owner. And also If you want to adopt a dog, cat or Bird like that you can search and adopt them</p>
                    <a class="info" href="https://github.com/Nimashi97/PlayPet" target="_blank">View Project</a>
                </div>
            
        </div>
    </div>
    
    <div @listAnimation class="col-lg-4 col-md-6 col-sm-12 "style="padding-bottom: 20px;">
        <div class="card hovereffect">
           
                <img class="card-img"  src="assets/tome.png" alt="">
                <span class="badge bg-success">Android Development</span>
                <div class="overlay">
                    <h2>Personal Note App</h2>
                    
                    <p style="color: white;font-size: 15px;">This mobile app created using android studio and SQLite database. It can be use as your personal note app. You can add task to the to do list, can add special notes,and can use as your diary</p>
                    <a class="info" href="https://github.com/Nimashi97/TO_ME" target="_blank">View Project</a>
                </div>
            
        </div>
    </div>
    
    
    <div @listAnimation class="col-lg-4 col-md-6 col-sm-12 "style="padding-bottom: 20px;">
        <div class="card hovereffect">
           
                <img class="card-img" src="assets/workout.png" alt="">
                <span class="badge bg-success">Android Development</span>
                <div class="overlay">
                    <h2>Workout App</h2>
                    <p style="color: white;">This android app design as a workout app.</p>
                    <a class="info" href="https://github.com/Nimashi97/Worky" target="_blank">View Project</a>
                </div>
            
        </div>
    </div>
   
    <div @listAnimation class="col-lg-4 col-md-6 col-sm-12 ">
        <div class="card hovereffect">
           
                <img class="card-img" style="margin:auto;" src="assets/kids.png" alt="">
                <span class="badge bg-success">Android Development</span>
                <div class="overlay">
                    <h2>ABC Kid's App</h2>
                    <p style="color: white;">This mobile application created using android studio. It helps to improve knowledge of the children.</p>
                    <a class="info" href="https://github.com/Nimashi97/ABC_Kids" target="_blank">View Project</a>
                </div>
            
        </div>
    </div>
    <div @listAnimation class="col-lg-4 col-md-6 col-sm-12 ">
        <div class="card hovereffect">
           
                <img class="card-img" style="margin:auto;" src="assets/resume.png" alt="">
                <span class="badge bg-danger">Angular</span>
                <div class="overlay">
                    <h2>My Resume</h2>
                    <p style="color: white;">This responsive web application created using angular and boostrap.I developed this resume as my very first angular project.</p>
                    <a class="info" href="https://github.com/Nimashi97/Myresume" target="_blank">View Project</a>
                </div>
            
        </div>
    </div>
    <div @listAnimation class="col-lg-4 col-md-6 col-sm-12 ">
        <div class="card hovereffect">
           
                <img class="card-img" style="margin:auto;" src="assets/cakeapp.png" alt="">
                <span class="badge bg-danger">Angular</span>
                <div class="overlay">
                    <h2>Cake Shop</h2>
                    <p style="color: white;">This a mobile application developed by using angular material, boostrap and nodejs.An I used capacitor to convert angular to android app</p>
                    <a class="info" href="https://github.com/Nimashi97/cakeshop" target="_blank">View Project</a>
                </div>
            
        </div>
    </div>
    <div @listAnimation class="col-lg-4 col-md-6 col-sm-12 ">
        <div class="card hovereffect">
           
                <img class="card-img" style="margin:auto;" src="assets/react.png" alt="">
                <span class="badge bg-primary">React Js</span>
                <div class="overlay">
                    
                    <p style="color: white;">This a Interface design using React Js</p>
                    <a class="info" href="https://github.com/Nimashi97/Nimzywebsite" target="_blank">View Project</a>
                </div>
            
        </div>
    </div>
</div>
 