<div id="body" class="container mx-auto d-block" style="min-height: 100vh; margin-top: 70px;">
    <div class="row">

    <div class="col-md-8">
    <h1 @listAnimation>Contact me</h1>
    <form>
        <label @bumpIn>Full Name</label>
        <input @bumpIn type="text" placeholder="Emma John" name="name" class="form-control">
        <label @bumpIn>Email</label>
        <input @bumpIn type="email" name="email" placeholder="example@gmail.com" class="form-control">
        <label @bumpIn>Type your message</label>
        <textarea @bumpIn class="form-control" name="message"></textarea>
        <br>
        <br>
        <input @bumpIn type="submit" class="btn btn-success" value="Send Message">
    </form>
</div>

<div @fade class="col-md-4 text-black mt-3" style="padding-left:15px; padding-top: 30px;margin-bottom: 30px; font-weight: bolder; border:2px black dashed;">
    <div style="margin-top: 40px;">
  <label id="details" style="color: rgb(14, 180, 69);">Name &nbsp;:</label>
  <span>&nbsp;Nimashi Jayawickrama</span>
</div>
<div>
<label id="details" style="color: rgb(14, 180, 69);">Age &nbsp;:</label>
<span>&nbsp;24</span>
</div>
<div>
<label id="details" style="color: rgb(14, 180, 69);">Address &nbsp;:</label>
<span>&nbsp;Kandy</span>
</div>



    <div>
  <label id="details" style="color: rgb(14, 180, 69);">Email &nbsp;:</label>
  <span>&nbsp;nimashijayawickrama1@gmail.com</span>
</div>
<div>
<label id="details" style="color: #0eb445;">phone &nbsp;:</label>
<span>&nbsp;0713367501</span>
</div>
<div>
<label id="details" style="color: rgb(14, 180, 69);">Address &nbsp;:</label>
<span>&nbsp;Kandy</span>
</div>
<div>
<span class="icon-bar">
  
  <a href="https://www.facebook.com/Nimashi-Jayawickrama" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
  <a href="https://www.linkedin.com/in/nimashi-jayawickrama-b1989b175/" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
  <a href="https://github.com/Nimashi97" class="github" target="_blank"><i class="fa fa-github"></i></a>
  
</span>
</div>
</div>
</div>
</div>
