<div class="container" style="min-height: 100vh;">
    <div class=" ">
    <div id="box" class="mt-3">
        <h1>Skills</h1>
        <div class="skillbox">
            <p>HTML</p>
            <p>90%</p>
            <div class="skill">
                <div class="level" style="width: 90%; background: #2fc4b2;"></div>
            </div>
        </div>
        <div class="skillbox">
            <p>CSS</p>
            <p>80%</p>
            <div class="skill">
                <div class="level" style="width: 80%; background: #d32626;"></div>
            </div>
        </div>
        <div class="skillbox">
            <p>JavaScript</p>
            <p>85%</p>
            <div class="skill">
                <div class="level" style="width: 85%; background: #79d70f;"></div>
            </div>
        </div>
        <div class="skillbox">
            <p>PHP</p>
            <p>55%</p>
            <div class="skill">
                <div class="level" style="width: 55%; background: #1985a7;"></div>
            </div>
        </div>
        <div class="skillbox">
            <p>JAVA</p>
            <p>75%</p>
            <div class="skill">
                <div class="level" style="width: 75%; background: #b5076b;"></div>
            </div>
        </div>
        <div class="skillbox">
            <p>MySQL</p>
            <p>85%</p>
            <div class="skill">
                <div class="level" style="width: 85%; background: #d77a0f;"></div>
            </div>
        </div>
        <div class="skillbox">
            <p>Android</p>
            <p>80%</p>
            <div class="skill">
                <div class="level" style="width: 80%; background: #fed330;"></div>
            </div>
        </div>
    
    
    </div>
    </div>
    <div class="mt-3">
        Other than above mentioned languages & technologies I have worked with 
        <p style="color: rgb(51, 207, 111); font-weight: bold;">Wordpress</p>
    </div>
   
    </div>
    