#detail
{
    color: white;
    font-size: x-large;
    
}
#container-fluid
{
    width: inherit;
    height: inherit;
}
label
{
    color: rgb(46, 202, 85);
    font-weight: bolder;
}
#about
{
    font-size: large;
   
}
