<div class="container mx-auto d-block">
    <div class="row">
   <div class="col-md-4">
      <div style="height: 540px;">
        <img class="card-img" src="assets/me.jpg" alt="Card image" style="width:100%; height: 100%;">
      </div>
      </div>
      <div class="col-md-8">
        <div class="jumbotron" style="height: 540px;">
          <h1 style="font-size: 50px; margin-top: 120px; text-shadow: 2px 2px;">Hi! I am Nimashi Jayawickram</h1>
          <h6>Undergraduate | Software Engineer</h6>
          <input type="submit" class="btn btn-dark" style="margin-right: 20px;" value="Hire Me"/>
          <input type="button" class="btn btn-success" value="Download CV"/>
        </div>
      </div>
    </div>
  
   <hr/>
      <div class="container row" style="padding-top: 70px; padding-bottom: 15px; border: 1px rgb(42, 168, 42) ;" id="about">
       <h3 style="font-size:50px;">About Me</h3>
       <p id="about">I’m undergraduate of Faculty of Applied Science, Department of Computer Science, Trincomalee Campus, Eastern University work as an active member of societies in the university and previously I was an active member of societies in the school. I am determined to do well in my job and am determined to have a successful career. As well as make the company I work for more competitive.
   
           On the other hand,To be an effective and efficient team player in the working environment and to be Expert in mobile Development</p>
       </div>
       <div class="row" style=" border-left: 6px solid rgb(43, 134, 238);
       background-color: rgb(245, 245, 245); padding-left: 20px; font-size: larger;padding-top: 60px;padding-bottom: 60px;">
       <div class="col-md-6">
           <div>
         <label id="details">Name &nbsp;:</label>
         <span>&nbsp;Nimashi Jayawickrama</span>
     </div>
     <div>
       <label id="details">Age &nbsp;:</label>
       <span>&nbsp;23</span>
   </div>
   <div>
    <label id="details">Gender &nbsp;:</label>
    <span>&nbsp;Female</span>
  </div>
   <div>
    <label id="details">Status &nbsp;:</label>
    <span>&nbsp;Single</span>
  </div>
       </div>
       <div class="col-md-6">
           <div>
         <label id="details">Email &nbsp;:</label>
         <span>&nbsp;nimashijayawickrama1@gmail.com</span>
     </div>
     <div>
       <label id="details">phone &nbsp;:</label>
       <span>&nbsp;0713367501</span>
   </div>
   <div>
       <label id="details">Address &nbsp;:</label>
       <span>&nbsp;Kandy</span>
   </div>
       </div>
   </div>
  
   
   
      
   
  </div>
